label {
  font-size: 32px;
}

button {
  border: solid @borders 10px;
  border-radius: 2px;
}

button.focused {
  color: @accent_bg_color;
}

button image {
  transition-duration: 0.3s;
  margin: 100px 100px 100px 100px;
  -gtk-icon-size: 64px;
}

button.focused image {
  margin: 120px 120px 120px 120px;
  -gtk-icon-size: 96px;
}
