button {
  border-radius: 12px;
  background-color: @card_bg_color;
  color: @window_fg_color;
  transition: background-color 100ms ease-in-out;
}
button image {
  transition: -gtk-icon-transform 100ms ease-in-out;
}

button:hover {
  background-color: @shade_color;
}
button:hover image {
  -gtk-icon-transform: scale(1.2);
}

button:active {
  background-color: @accent_color;
}
button:active image {
  -gtk-icon-transform: scale(1.5);
}

@keyframes popover-grow {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
popover {
  transform-origin: top center;
  animation: popover-grow 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.stats {
  background-color: @window_bg_color;
  border-radius: 12px;
}
.stats progressbar trough {
  min-width: 200px;
  min-height: 40px;
  border-radius: 12px;
  background-color: @headerbar_bg_color;
}
.stats progressbar progress {
  min-height: 40px;
  border-radius: 12px;
}
.stats .cpubar progress {
  background-color: @blue_1;
}
.stats .memorybar progress {
  background-color: @yellow_1;
}
@keyframes slide-highlight {
  0% {
    background-position:
      -200px 0,
      0 0;
  }
  33% {
    background-position:
      200px 0,
      0 0;
  }
}
.stats .batterycharging progress {
  background-color: @green_3;
  background-image: linear-gradient(to left, @green_1, @green_3);
  animation: slide-highlight 3s linear infinite;
  background-size:
    200px 100%,
    100% 100%;
}
.stats .battery progress {
  background-color: @green_3;
}
.stats .batterylow progress {
  background-color: @orange_1;
}
.stats .batterycrit progress {
  background-color: @red_1;
}

.calendar {
  background-color: @window_bg_color;
  border-radius: 12px;
}

.switches {
  background-color: @window_bg_color;
  border-radius: 12px;
}
.switches .active {
  background-color: @accent_bg_color;
  color: @accent_fg_color;
}
.switches .active:hover {
  background-color: @popover_fg_color;
}

.quote {
  background-color: @window_bg_color;
  border-radius: 12px;
}
.quote label {
  font-size: 24px;
}

.media {
  background-color: @window_bg_color;
  border-radius: 12px;
}
.media .mediaPlayer .title {
  font-size: 28px;
}
.media .mediaPlayer .artist {
  font-size: 24px;
}
.media .mediaPlayer .progress {
  margin: 10px 10px 0 10px;
}
.media .mediaPlayer .progress trough {
  min-height: 40px;
  border-radius: 14px;
}
.media .mediaPlayer .progress highlight {
  all: unset;
  border-radius: 14px;
  background-color: @accent_bg_color;
}
.media .mediaPlayer .progress slider {
  all: unset;
}

.tray {
  background-color: @window_bg_color;
  border-radius: 12px;
}
.tray menubutton {
  border-radius: 12px;
  background-color: @card_bg_color;
  color: @window_fg_color;
  transition: background-color 100ms ease-in-out;
}
.tray menubutton image {
  transition: -gtk-icon-transform 100ms ease-in-out;
}
.tray menubutton:hover {
  background-color: @shade_color;
}
.tray menubutton:hover image {
  -gtk-icon-transform: scale(1.2);
}
.tray menubutton:active {
  background-color: @accent_bg_color;
}
.tray menubutton:active image {
  -gtk-icon-transform: scale(2);
}
